

form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 320px;
  margin-top: 40px;
  margin-bottom: 3rem;
  justify-content: space-around;
    transform: translateY(100px);
  }



.contactStyle{
background-color: rgba(255, 255, 255, 0.5);
box-shadow: -8px 8px 5px #888888;
height: 582px;
width: 87%;
margin: 0 auto;
}





input.submit{
  text-decoration: none;
  background-color: white;
  border-top: thick hidden #ff0000;
  border-right: 2px hidden black;
  border-left: 2px solid black;
  width: 8rem;
  height: 2rem;
  border-bottom: 3px solid black;
  margin: 0 auto;
}


input.text::-webkit-input-placeholder {
    text-align: left;
    margin-top: 5rem;
}



input.message{
  height: 15rem;
width: 25rem;
margin: 0 auto;
}

input.message::-webkit-input-placeholder{
// text-align: center;
// font-size: 2rem;
margin-bottom:3rem;
}


input.name{
  height: 3rem;
  width: 25rem;
  margin: 0 auto;
  margin-top: 5rem;
}


input.email{
  height: 3rem;
  width: 25rem;
  margin: 0 auto;
}
