

form{
  display: flex;
  flex-direction: column;
  height: 26rem;
  margin-bottom: 1rem;
  justify-content: space-around;
  }



.contactStyle{
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -8px 8px 5px #888888;
  width: 87%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

}


input.submit{
  text-decoration: none;
  background-color: white;
  border-top: thick hidden #ff0000;
  border-right: 2px hidden black;
  border-left: 2px solid #9D8CA1;
  width: 8rem;
  height: 2rem;
  border-bottom: 3px solid #9D8CA1;
  margin: 0 auto;
  transform: translateY(8px);
      cursor: pointer;
}


input.text::-webkit-input-placeholder {
    text-align: left;
    margin-top: 5rem;
}



textarea.message{
  height: 13rem;
  width: 25rem;
  margin: 0 auto;
    border: 1px solid #ABABAB;
  }

input.message::-webkit-input-placeholder{
color:#F3C969;
margin-bottom:3rem;
}


input.name{
  height: 2rem;
  width: 25rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}


input.email{
  height: 2rem;
  width: 25rem;
  margin: 0 auto;
}

input.subject{
  height: 2rem;
width: 25rem;
margin: 0 auto;
}


h2.emailHead{
  text-align: center;
  margin: 0 auto;
  transform: translateY(20px);
  font-size: 3rem;
}





@media(min-width: 300px){
  input.name{
    width:20rem;
  }
  input.email{
    width:20rem;
  }
  input.subject{
    width:20rem;
  }
  textarea.message{
    width:20rem;
  }
}
