@import 'variables.scss';
@import 'home.scss';
@import 'nav.scss';
@import 'projectPage.scss';
@import 'videoModal.scss';
@import 'animations.scss';
@import 'contact.scss';
@import 'resume.scss';

div#container{
}

div#opacity{
  opacity:.5;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
    background-color: $background;
    background-image: url("assets/background2.png");
    background-size: cover;

}
.home-content-container {
    display: flex;
    height: 580px;
    background-color: #fff;
    width: 87%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom:3rem;
    background-color: rgba(255,255,255,0.5);
    box-shadow: -8px 8px 5px #888888;

}

.bio{
  margin-top: 2rem;
margin-left: .5rem;
}

.home-side-container{
  margin-left: 0rem;
margin-top: 2rem;
}

p.p-about-me {
    width: 95%;
    text-align: justify;
    margin-left: 0.5rem;
}

li {
    list-style-type: none;
}
ul.ul-links {
    display: flex;
}




div#nav-component {
  width: 69%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.project-img {
  margin: 0 auto;
padding: 0;
display: flex;
flex-wrap: wrap;
width: 75%;
margin-top: 90px;
align-items: center;
justify-content: center;
}
.project-img img:hover {
    opacity: 1;
    color: red;
}
.project-li {
    width: 200px;
    height: 200px;
    list-style-type: none;
    overflow: hidden;
}
.project-img img {
    width: 100%;
    background-size: cover;
    height: 200px;
}
.squareImg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title-container {
    position: relative;
    height: 200px;
    bottom: 100%;
}
.hover-title {
    z-index: 1;
    margin: 0;
    height: 0;
    width: 200px;
    transition: 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#000, .6);
    color: #FFD94A;
    text-align: center;
    cursor: pointer;
}
