figure.shadowBoxImg {
  height: 430px;
    width: 600px;
    background-size: cover;
    background-repeat: round;

}

p.projectPageInfo {
    width: 400px;
    color:$font-color;

}
section.projectContentContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 50px;
}
.shadowBoxComp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        margin-bottom: 5rem;
}
.shadowBtn {
    font-size: 5rem;
    // color: white;
    color:$secondary;
      &:hover{
        cursor:pointer;
      }
}

.buttonContainer{
  justify-content: space-between;
  display: flex;
  width: 75%;
}

.shadowUlBtn {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  &:hover{
    cursor:pointer;
  }
}

.shadowLiBtn {
  // list-style-type: circle;
  height: 20px;
  width: 20px;
  background-color: $secondary;
  border-radius: 50%;
  &:hover{
    cursor:pointer;
  }
}

h2.projectName{
  color:$font-color;
  font-size: 40px;
  margin: 0;
}

.projectInfoContainer {
  a{
    color:$font-color;
      &:hover{
        color:$primary;
        cursor: pointer;
      }
  }
}

.linkContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
}

.projectLink, .videoBtn {
  text-decoration: none;
  font-size: 3rem;
  &:hover{
    cursor:pointer;
  }
}

i.fa.fa-github-square.github{
  // font-size: 53px;
}
