.shadowBoxImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 430px;
  width: 600px;
}

figure.shadowBoxImg {
  height: 75%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

figure.img-atta {
  background-size: contain;
  width: 50%;
  height: 24rem;
}

figure.img-atta0 {
  background-size: cover;
  width: 100%;
  height: 15rem;
}


figure.img-sohStory {
  background-size: cover;
  width: 100%;
  height: 95%;
}


p.projectPageInfo {
    width: 400px;
    color:$font-color;
}

section.projectContentContainer {
  display: flex;
  height: 582px;
  width: 1120px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 3rem;
  background-color: rgba(255,255,255,0.5);
  box-shadow: -8px 8px 5px #888888;
  padding: 2% 0;
}
.shadowBoxComp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.shadowBtn {
  font-size: 5rem;
  color:$tertiary;
    &:hover{
      cursor:pointer;
    }
}

.buttonContainer{
  justify-content: space-between;
  display: flex;
  width: 75%;
}

.shadowUlBtn {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  &:hover{
    cursor:pointer;
  }
}

.shadowLiBtn {
  height: 20px;
  width: 20px;
  background-color: $font-color;
  border-radius: 50%;
  &:hover{
    cursor:pointer;

  }
}

h2.projectName{
  color:$font-color;
  font-size: 32px;
  margin: 0;
}

.projectInfoContainer {
  margin-top: 3rem;
  a{
    color:$font-color;

    &:hover{
      color:$tertiary;
      cursor: pointer;
    }
  }
}

.linkContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
}

.projectLink, .videoBtn {
  text-decoration: none;
  font-size: 3rem;
  &:hover{
    cursor:pointer;
    color:$tertiary;
  }
}

ul.project-img{
  display: flex;
  height: 582px;
  width: 87%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 3rem;
  background-color: rgba(255,255,255,0.5);
  box-shadow: -8px 8px 5px #888888;
  padding: 2% 0;
}

li.project-li{
  width: 236px;
  height: 194px;
  list-style-type: none;
  overflow: hidden;
}

i.projectLink.fa.fa-github-square.github{
  font-size:3.3rem;
}



@media(max-width: 800px){
    ul.project-img {
      height: 100%;
    }
    section.projectContentContainer{
      height: 100%;
      width: 87%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .shadowBoxComp {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;
      margin: 0 auto;
  }
  .shadowBoxImgContainer {
      display: flex;
      justify-content: left;
      height: 17rem;
      width: 17rem;
      flex-direction: column;
      background-size: cover;
      background-position: center;
  }

  figure.img-atta {
    background-size: contain;
    height: 20rem;
    width: 20rem;
    margin: 0;
  }

  figure.img-atta0 {
    background-size: cover;
    height: 10rem;
    width: 20rem !important;
  }

  .shadowBtn {
      font-size: 3rem;
  }

  .buttonContainer {
      justify-content: space-between;
      display: flex;
      width: 107%;
      margin-top: 10px;
  }

  .projectInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .linkContainer{
    margin: 1rem 0;
  }
  p.projectPageInfo{
    width:95%;
  }

  h2.projectName {
    font-size: 18px;
    margin: 0px auto;
    width: 70%;
    margin-top: 1rem;
    text-align: center;
  }

}

@media(min-width: 801px){
  section.projectContentContainer {
    width: 87%;
  }

  .shadowBoxImgContainer {
    width: 95%;
  }

  .shadowBoxComp, .projectInfoContainer {
    width: 49%;
  }

  figure.shadowBoxImg {
    // width: 30rem !important;
    margin: 0 1rem;
  }

  figure.img-atta0 {
    background-size: contain !important;
    margin: 0 1rem;
  }

  h2.projectName {
    font-size: 20px;
  }

  p.projectPageInfo {
    width: 95%;
  }

  .shadowBtn {
    font-size: 3rem;
  }

  .shadowLiBtn {
    height: 13px;
    width: 13px;
  }
}

@media(min-width: 1100px) {
  .shadowBoxImgContainer {
    width: 100%;
  }

  figure.shadowBoxImg {
    // width: 30rem !important;
    margin: 0 1rem;
  }

  .projectInfoContainer {
    margin-top: 59px;
  }
}

@media(min-width:1200px) {
  .shadowBoxImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 430px;
    width: 100%;
  }

  figure.shadowBoxImg {
    height: 75%;
    width: 85%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  figure.img-atta {
    background-size: contain;
    width: 50%;
    height: 24rem;
  }

  figure.img-atta0 {
    background-size: cover;
    width: 100%;
    height: 15rem;
  }


  figure.img-sohStory {
    background-size: cover;
    width: 100%;
    height: 95%;
  }


  p.projectPageInfo {
      width: 400px;
      color:$font-color;
  }
}
