.shadowBoxImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45rem;
  width: 65rem;
  margin: 0 auto;
  position: relative;
  left: 240px;
}

figure.shadowBoxImg {
  // margin: 0 auto;
  // margin-bottom: 11rem;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
}

figure.img-atta {
  background-size: contain;
  width: 50%;
  height: 24rem;
}

figure.img-atta0 {
  background-size: cover;
  width: 100%;
  height: 15rem;
}


figure.img-sohStory {
  background-size: cover;
  width: 100%;
  height: 95%;
}


p.projectPageInfo {
    width: 400px;
    color:$font-color;
}


.shadowBtn {
  font-size: 5rem;
  color: black;
    &:hover{
      cursor:pointer;
    }
}

.buttonContainer{
  justify-content: space-between;
  display: flex;
  width: 75%;
}

.shadowUlBtn {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  &:hover{
    cursor:pointer;
  }
}

.shadowLiBtn {
  height: 20px;
  width: 20px;
  background-color: $font-color;
  border-radius: 50%;
  &:hover{
    cursor:pointer;

  }
}

h2.projectName{
  color:$font-color;
  font-size: 32px;
  margin: 0;
}

.projectInfoContainer {
    align-items: center;
    flex-direction: row;
    margin-top: 3rem;
    margin: 0 auto;
    position: relative;
    left: 575px;
    bottom: 20px;

  a{
    color:$font-color;

    &:hover{
      color:$tertiary;
      cursor: pointer;
    }
  }
}

.linkContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
}

.projectLink, .videoBtn {
  text-decoration: none;
  font-size: 3rem;
  &:hover{
    cursor:pointer;
    color:$tertiary;
  }
}

ul.project-img{
  display: flex;
  height: 582px;
  width: 75%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 3rem;
  // background-color: #262525;
  padding: 2% 0;
}

li.project-li{
  width: 236px;
  height: 194px;
  list-style-type: none;
  overflow: hidden;
}

i.projectLink.fa.fa-github-square.github{
  font-size:3.3rem;
}
