


.resumeStyle{
  width: 87%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
  box-shadow: -8px 8px 5px #888888;
  margin-top: 40px;
  height: 94rem;
}


img.resumeImg{
  margin: 0 auto;
display: flex;
transform: translateY(20px);
    cursor: pointer;
}



@media(min-width: 300px){
  img.resumeImg{
    width: 90%;
  }
  .resumeStyle{
    height: 28rem;
  }
}


@media(min-width: 950px){
  .resumeStyle{
        height: 62.5rem;
  }

  ul.project-img {
        width: 87.5%;
        height:80%;
    }
}

@media(min-width: 1441px){
  .resumeStyle{
        height: 94rem;
  }
}
