div#nav-component {
  font-weight: bold;
  font-size: 1.2rem;
  left: 161px;
  font-family: SF New Republic;
  margin: 0 auto;
  position: relative;
  top: 44px;
  width: 50%; }

.ul-links {
  list-style-type: none;
  justify-content: space-around; }
  .ul-links:hover {
    color: #F3C969; }

li.li-link {
  padding: 0px; }
  li.li-link a {
    text-decoration: none;
    color: black; }

.logoLink {
  color: #ABABAB;
  text-decoration: none;
  font-size: 1rem; }
  .logoLink h1 {
    margin-top: 3.3rem;
    font-size: 1.5rem; }
  .logoLink:hover {
    color: black; }

img.logo {
  width: auto;
  height: 70%;
  font-weight: 700; }

@media (max-width: 300px) {
  h1 {
    width: 100%;
    margin-top: 2rem;
    font-size: 1.3rem; }

  li.li-link {
    margin: 0px 9px;
    padding: 0; }

  .logoLink h1 {
    margin: 0;
    font-size: 1rem; }
  .logoLink:hover {
    color: #F3C969; }

  div#nav-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    font-weight: bold;
    font-size: 1rem; }

  .logo-info {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 1rem;
    width: 87%;
    height: 100px;
    margin: 0 auto; }

  div#nav-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: .8rem; }

  img.logo {
    height: 90%; }

  ul.ul-links {
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around; } }
@media (max-width: 950px) {
  div#nav-component {
    margin: 0 auto;
    font-size: 1rem; }
    div#nav-component ul.ul-links {
      width: 80%; }

  .logoLink h1 {
    font-size: 1.3rem; } }
.shadowBoxImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45rem;
  width: 65rem;
  margin: 0 auto;
  position: relative;
  left: 240px; }

figure.shadowBoxImg {
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat; }

figure.shadowBoxImg.img-atta0 {
  height: 50vh; }

figure.img-atta {
  background-size: contain;
  width: 50%;
  height: 24rem; }

figure.img-atta0 {
  background-size: cover;
  width: 100%;
  height: 15rem; }

figure.img-sohStory {
  background-size: cover;
  width: 100%;
  height: 95%; }

p.projectPageInfo {
  width: 610px;
  color: #262525; }

.shadowBtn {
  font-size: 5rem;
  color: black; }
  .shadowBtn:hover {
    cursor: pointer; }

.buttonContainer {
  justify-content: space-between;
  display: flex;
  width: 75%; }

.shadowUlBtn {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; }
  .shadowUlBtn:hover {
    cursor: pointer; }

.shadowLiBtn {
  height: 20px;
  width: 20px;
  background-color: #262525;
  border-radius: 50%; }
  .shadowLiBtn:hover {
    cursor: pointer; }

h2.projectName {
  color: #262525;
  font-size: 32px;
  margin: 0; }

.projectInfoContainer {
  align-items: center;
  flex-direction: row;
  margin-top: 3rem;
  margin: 0 auto;
  position: relative;
  left: 490px;
  bottom: 20px; }
  .projectInfoContainer a {
    color: #262525; }
    .projectInfoContainer a:hover {
      color: rgba(243, 192, 58, 0.7);
      cursor: pointer; }

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem; }

.projectLink, .videoBtn {
  text-decoration: none;
  font-size: 3rem; }
  .projectLink:hover, .videoBtn:hover {
    cursor: pointer;
    color: rgba(243, 192, 58, 0.7); }

ul.project-img {
  display: flex;
  height: 582px;
  width: 55%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 3rem;
  padding: 2% 0; }

li.project-li {
  width: 236px;
  height: 194px;
  list-style-type: none;
  overflow: hidden; }

i.projectLink.fa.fa-github-square.github {
  font-size: 3.3rem; }

ul.project-img {
  width: 55%;
  height: 80%; }

#modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); }

#modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65%;
  width: 90%;
  max-width: 45rem;
  background-color: #FFF; }
  #modalContent h2 {
    margin: 0;
    height: 3rem; }

.modalBtnContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 2rem;
  padding: 5px 5px 0 0px;
  font-size: 1rem;
  color: #ABABAB; }

#closeModalBtn {
  background: none;
  outline: none;
  border: none; }
  #closeModalBtn:hover {
    cursor: pointer; }

@media (min-width: 300px) {
  figure.shadowBoxImg {
    width: 100%;
    background-position: center; } }
#slide-out-left {
  animation: slide-out-left 500ms; }

@keyframes slide-out-left {
  from {
    transform: translateX(0%); }
  to {
    transform: translateX(-100%); } }
#slide-out-right {
  animation: slide-out-right 500ms; }

@keyframes slide-out-right {
  from {
    transform: translateX(0%); }
  to {
    transform: translateX(100%); } }
#slide-in-left {
  animation: slide-in-left 500ms; }

@keyframes slide-in-left {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }
#slide-in-right {
  animation: slide-in-right 500ms; }

@keyframes slide-in-right {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0%); } }
form {
  display: flex;
  flex-direction: column;
  height: 26rem;
  margin-bottom: 1rem;
  justify-content: space-around; }

.contactStyle {
  width: 87%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem; }

input.submit {
  text-decoration: none;
  border: none;
  width: 20.3rem;
  height: 2rem;
  margin: 0 auto;
  transform: translateY(8px);
  cursor: pointer;
  font-family: SF New Republic;
  font-size: 1.5rem;
  background-color: #dbdad8;
  color: black;
  padding: 6px 2px 2px 2px; }

input.text::-webkit-input-placeholder {
  text-align: left;
  margin-top: 5rem;
  font-family: SF New Republic;
  font-size: 1.5rem;
  color: rgba(243, 192, 58, 0.7); }

textarea.message {
  height: 13rem;
  width: 25rem;
  margin: 0 auto;
  border: none;
  background-color: #dbdad8; }

textarea.message::-webkit-input-placeholder {
  font-family: SF New Republic;
  font-size: 1.5rem;
  color: black; }

input.message::-webkit-input-placeholder {
  margin-bottom: 3rem;
  font-family: SF New Republic;
  font-size: 1.5rem;
  color: black; }

input.name::-webkit-input-placeholder {
  font-family: SF New Republic;
  font-size: 1.5rem;
  color: black; }

input.name {
  height: 2rem;
  width: 25rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: none;
  background-color: #dbdad8; }

input.email {
  height: 2rem;
  width: 25rem;
  margin: 0 auto;
  border: none;
  font-family: SF New Republic;
  background-color: #dbdad8; }

input.email::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: black;
  position: relative;
  top: 7px; }

input.subject {
  height: 2rem;
  width: 25rem;
  margin: 0 auto;
  border: none;
  font-family: SF New Republic;
  background-color: #dbdad8; }

input.subject::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: black;
  position: relative;
  top: 7px; }

h2.emailHead {
  text-align: center;
  margin: 0 auto;
  transform: translateY(20px);
  font-size: 3rem;
  font-family: SF New Republic;
  text-transform: uppercase; }

@media (min-width: 300px) {
  input.name {
    width: 20rem; }

  input.email {
    width: 20rem; }

  input.subject {
    width: 20rem; }

  textarea.message {
    width: 20rem; } }
.resumeStyle {
  width: 87%;
  margin: 0 auto;
  margin-top: 40px;
  height: 94rem; }

img.resumeImg {
  margin: 0 auto;
  display: flex;
  transform: translateY(20px);
  cursor: pointer; }

@media (min-width: 300px) {
  img.resumeImg {
    width: 90%; }

  .resumeStyle {
    height: 28rem; } }
@media (min-width: 950px) {
  .resumeStyle {
    height: 62.5rem; }

  ul.project-img {
    width: 55%;
    height: 80%; } }
@media (min-width: 1441px) {
  .resumeStyle {
    height: 94rem; } }
div#opacity {
  opacity: .5; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #ABABAB;
  background-image: url("assets/background3.png");
  background-size: cover;
  background-repeat: no-repeat; }

section {
  width: 40rem; }

img.haley {
  margin-top: 16px;
  height: 480px; }

.home-content-container {
  display: block;
  height: 603px;
  width: 87%;
  height: 50rem;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 3rem; }

.box {
  display: flex; }

.bio {
  margin-top: 1rem;
  position: relative;
  left: 90px; }

.home-side-container {
  margin-left: 0rem;
  margin-top: 2rem;
  position: relative;
  left: 230px; }

p.p-about-me {
  width: 100%;
  text-align: justify;
  margin-left: 0.5rem;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  margin: 7px auto; }

li {
  list-style-type: none; }

ul.ul-links {
  display: flex; }

ul.ul-title {
  margin: 0 auto;
  padding: 0; }

li.skills {
  text-align: justify;
  width: 23rem;
  font-size: .8rem; }

.project-img {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-top: 90px;
  align-items: center;
  justify-content: center; }

.project-img img:hover {
  opacity: 1;
  color: red; }

.project-li {
  width: 200px;
  height: 200px;
  list-style-type: none;
  overflow: hidden; }

.project-img img {
  width: 100%;
  background-size: cover;
  height: 200px; }

.squareImg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.title-container {
  position: relative;
  height: 200px;
  bottom: 100%; }

.hover-title {
  z-index: 1;
  margin: 0;
  height: 0;
  width: 200px;
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFD94A;
  text-align: center;
  cursor: pointer; }

h1.homeName {
  font-size: 2rem;
  font-weight: 600;
  font-family: SF New Republic;
  margin: 0 auto; }

li.title {
  font-size: 1.1rem; }

.logo-info {
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
  width: 87%;
  height: 120px;
  margin: 0 auto;
  flex-direction: row; }

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  height: 100%; }

.ul-title li {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold; }

@media (max-width: 300px) {
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 0;
    width: 55%; }

  .logo-info {
    display: block; }

  img.haley {
    width: 13rem; }

  .home-content-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90rem;
    margin: 0 auto;
    margin-top: 1rem; }

  ul.ul-title {
    width: 90%;
    margin: 1rem auto; }

  .homeName, .title {
    text-align: center; }

  .title, .skills {
    width: 70%;
    margin: 1rem auto; }

  li.skills {
    width: 77%;
    text-align: justify; }

  p.p-about-mez {
    margin-top: 10rem; }

  div#player {
    width: 15rem;
    height: 10rem; }

  iframe {
    width: 50% !important;
    height: 90%; }

  p.p-about-me {
    width: 20rem;
    text-align: left; }

  section {
    width: 22rem; }

  .box {
    display: inline-block; } }
@media (max-width: 950px) {
  .home-content-container {
    flex-direction: row;
    justify-content: center;
    width: 87%;
    height: 75%; }

  .logoLink h1 {
    width: 10rem; }

  .home-side-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

  .bio {
    height: 79%;
    margin-bottom: 7.3rem; }

  img.haley {
    width: 17rem;
    margin-top: 1rem;
    height: 17rem; }

  ul.ul-title {
    width: 90%; }

  ul.ul-links {
    width: 60%;
    margin: 0; }

  li.title {
    width: 85%;
    margin: 0 auto;
    font-size: 1.1rem; }

  p.p-about-me {
    width: 29rem; }

  .logo-info {
    align-items: flex-end;
    justify-content: space-between; }

  .logoLink {
    align-items: flex-end;
    width: 40%; }

  div#nav-component {
    width: 80%;
    margin: 0; } }
@media (max-width: 1150px) {
  img.haley {
    width: 23rem;
    height: 22.5rem; }

  .home-side-container {
    margin-right: 2rem;
    margin-bottom: 4.5rem; }

  iframe {
    width: 102% !important; }

  p.p-about-me {
    width: 102%;
    text-align: justify; }

  li.skills {
    width: 96%; }

  h1.homeName {
    font-size: 2rem; }

  .box {
    display: inline-flex; }

  .logo-info {
    display: flex; }

  section {
    width: 40rem; } }

/*# sourceMappingURL=main.css.map */
